<% include ./partials/header2 %>

<div class = "container">
    <h1>Forms</h1>
    <div>
        <a href = "/bonafideCertificate/<%=currentUser._id%>">Bonafide Certificate</a>
    </div>
    <div>
        <a href = "/englishProficiency/<%=currentUser._id%>">English Proficiency</a>
    </div>
    <div>
        <a href = "/NOCforInternshipFunding/<%=currentUser._id%>">NOCforInternshipFunding</a>
    </div>
    <div>
        <a href = "/Transcript/<%=currentUser._id%>">Transcript</a>
    </div>
</div>


<% include ./partials/footer %>