<% include ./partials/header2 %>
 
<div style="padding-left: 30px; padding-right: 30px;">
<ul class="collapsible" data-collapsible="accordion">
<li>
  <div class="collapsible-header">
    <i class="material-icons">filter_drama</i>Fourth</div>
  <div class="collapsible-body">
    <div style="padding:0px">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>Nested First</div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>Nested Second</div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">whatshot</i>Nested Third</div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</li>

<li>
  <div class="collapsible-header">
    <i class="material-icons">filter_drama</i>Fourth</div>
  <div class="collapsible-body">
    <div style="padding:0px">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">
            <i class="material-icons">filter_drama</i>Nested First</div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">place</i>Nested Second</div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
        <li>
          <div class="collapsible-header">
            <i class="material-icons">whatshot</i>Nested Third</div>
          <div class="collapsible-body">
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</li>
</ul>
</div>  

<div class="row" style="padding-left: 30px; padding-right: 30px;">
  <div class="col l3 m4 s12">

    <ul class="collection">
      <li class="collection-item">Engineering Mechanics</li>
    </ul>

    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header" >
          <i class="material-icons">add</i>Quiz I</div>
          <div class="collapsible-body">
            <div>
              <ul class="collection" >
                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <div class="collapsible-header" >
            <i class="material-icons">add</i>Quiz II</div>
            <div class="collapsible-body">
              <div>
                <ul class="collection" >
                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="collapsible-header" >
              <i class="material-icons">add</i>End Sem</div>
              <div class="collapsible-body">
                <div>
                  <ul class="collection" >
                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </div>

        <div class="col l3 m4 s12">

          <ul class="collection">
            <li class="collection-item">Engineering Mechanics</li>
          </ul>

          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" >
                <i class="material-icons">add</i>Quiz I</div>
                <div class="collapsible-body">
                  <div>
                    <ul class="collection" >
                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header" >
                  <i class="material-icons">add</i>Quiz II</div>
                  <div class="collapsible-body">
                    <div>
                      <ul class="collection" >
                        <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                        <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                        <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                      </ul>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="collapsible-header" >
                    <i class="material-icons">add</i>End Sem</div>
                    <div class="collapsible-body">
                      <div>
                        <ul class="collection" >
                          <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                          <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                          <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                        </ul>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>


              <div class="col l3 m4 s12">

                <ul class="collection">
                  <li class="collection-item">Engineering Mechanics</li>
                </ul>

                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header" >
                      <i class="material-icons">add</i>Quiz I</div>
                      <div class="collapsible-body">
                        <div>
                          <ul class="collection" >
                            <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                            <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                            <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                          </ul>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="collapsible-header" >
                        <i class="material-icons">add</i>Quiz II</div>
                        <div class="collapsible-body">
                          <div>
                            <ul class="collection" >
                              <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                              <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                              <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                            </ul>
                          </div>
                        </div>
                      </li>

                      <li>
                        <div class="collapsible-header" >
                          <i class="material-icons">add</i>End Sem</div>
                          <div class="collapsible-body">
                            <div>
                              <ul class="collection" >
                                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                              </ul>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>

                    <div class="col l3 m4 s12">

                      <ul class="collection">
                        <li class="collection-item">Engineering Mechanics</li>
                      </ul>

                      <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header" >
                            <i class="material-icons">add</i>Quiz I</div>
                            <div class="collapsible-body">
                              <div>
                                <ul class="collection" >
                                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="collapsible-header" >
                              <i class="material-icons">add</i>Quiz II</div>
                              <div class="collapsible-body">
                                <div>
                                  <ul class="collection" >
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                  </ul>
                                </div>
                              </div>
                            </li>

                          <li>
                            <div class="collapsible-header" >
                              <i class="material-icons">add</i>Quiz II</div>
                              <div class="collapsible-body">
                                <div>
                                  <ul class="collection" >
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                  </ul>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="collapsible-header" >
                                <i class="material-icons">add</i>End Sem</div>
                                <div class="collapsible-body">
                                  <div>
                                    <ul class="collection" >
                                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                    </ul>
                                  </div>
                                </div>
                              </li>

                            </ul>
                          </div>

                        </div>


<div class="row" style="padding-left: 30px; padding-right: 30px;">
  <div class="col l3 m4 s12">
    
    <ul class="collection">
      <li class="collection-item">Artificial Intelligence</li>
    </ul>

    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header" >
          <i class="material-icons">add</i>Quiz I</div>
          <div class="collapsible-body">
            <div>
              <ul class="collection" >
                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
              </ul>
            </div>
          </div>
        </li>

        <li>
          <div class="collapsible-header" >
            <i class="material-icons">add</i>Quiz II</div>
            <div class="collapsible-body">
              <div>
                <ul class="collection" >
                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                </ul>
              </div>
            </div>
          </li>

          <li>
            <div class="collapsible-header" >
              <i class="material-icons">add</i>End Sem</div>
              <div class="collapsible-body">
                <div>
                  <ul class="collection" >
                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                  </ul>
                </div>
              </div>
            </li>

          </ul>
        </div>

        <div class="col l3 m4 s12">
          
          <ul class="collection">
            <li class="collection-item">Engineering Mechanics</li>
          </ul>

          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" >
                <i class="material-icons">add</i>Quiz I</div>
                <div class="collapsible-body">
                  <div>
                    <ul class="collection" >
                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <div class="collapsible-header" >
                  <i class="material-icons">add</i>Quiz II</div>
                  <div class="collapsible-body">
                    <div>
                      <ul class="collection" >
                        <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                        <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                        <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                      </ul>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="collapsible-header" >
                    <i class="material-icons">add</i>End Sem</div>
                    <div class="collapsible-body">
                      <div>
                        <ul class="collection" >
                          <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                          <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                          <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                        </ul>
                      </div>
                    </div>
                  </li>

                </ul>
              </div>


              <div class="col l3 m4 s12">
                
                <ul class="collection">
                  <li class="collection-item">Engineering Mechanics</li>
                </ul>

                <ul class="collapsible" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header" >
                      <i class="material-icons">add</i>Quiz I</div>
                      <div class="collapsible-body">
                        <div>
                          <ul class="collection" >
                            <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                            <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                            <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                          </ul>
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="collapsible-header" >
                        <i class="material-icons">add</i>Quiz II</div>
                        <div class="collapsible-body">
                          <div>
                            <ul class="collection" >
                              <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                              <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                              <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                            </ul>
                          </div>
                        </div>
                      </li>

                      <li>
                        <div class="collapsible-header" >
                          <i class="material-icons">add</i>End Sem</div>
                          <div class="collapsible-body">
                            <div>
                              <ul class="collection" >
                                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                              </ul>
                            </div>
                          </div>
                        </li>

                      </ul>
                    </div>

                    <div class="col l3 m4 s12">
                      
                      <ul class="collection">
                        <li class="collection-item">Engineering Mechanics</li>
                      </ul>

                      <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header" >
                            <i class="material-icons">add</i>Quiz I</div>
                            <div class="collapsible-body">
                              <div>
                                <ul class="collection" >
                                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                  <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                </ul>
                              </div>
                            </div>
                          </li>

                          <li>
                            <div class="collapsible-header" >
                              <i class="material-icons">add</i>Quiz II</div>
                              <div class="collapsible-body">
                                <div>
                                  <ul class="collection" >
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                    <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                  </ul>
                                </div>
                              </div>
                            </li>

                            <li>
                              <div class="collapsible-header" >
                                <i class="material-icons">add</i>End Sem</div>
                                <div class="collapsible-body">
                                  <div>
                                    <ul class="collection" >
                                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2018</li></a>
                                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2017</li></a>
                                      <a href="db/qpdb/sample.pdf" target="_blank"><li class="collection-item">SEM IV 2016</li></a>
                                    </ul>
                                  </div>
                                </div>
                              </li>

                            </ul>
                          </div>
                          
                        </div>
                          <div class="fixed-action-btn">
                            <a class="btn-floating btn-large red">
                              <i class="large material-icons">mode_edit</i>
                            </a>
                            <ul>
                              <li><a href = "https://www.facebook.com/iittp/" class="btn-floating red"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href = "mailto:help@bsw.iittp.ac.in" class="btn-floating yellow darken-1"><i class="far fa-envelope"></i></a></li>
                              <li><a href = "https://twitter.com/iit_tirupati" class="btn-floating green"><i class="fab fa-twitter"></i></a></li>
                              <li><a href = "https://www.linkedin.com/company/iittirupati/" class="btn-floating blue"><i class="fab fa-linkedin"></i></a></li>
                              <% if (currentUser!==undefined){ %>
                              <li><a href = "https://board-of-student-welfare-chirag2706.c9users.io/<%= currentUser._id%>" class="btn-floating blue"><i class="fas fa-home"></i></a></li>
                              <% }else{ %>
                              <li><a href = "https://board-of-student-welfare-chirag2706.c9users.io/" class="btn-floating blue"><i class="fas fa-home"></i></a></li>
                              <% } %>
                            </ul>
                          </div>


                        <footer class="page-footer teal">
                          <div class="container">
                            <div class="row">
                              <div class="col l6 s12">
                                <h5 class="white-text">Board of Student Welfare, IITT</h5>
                                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


                              </div>
                              <div class="col l3 s12">
                                <h5 class="white-text">Useful links</h5>
                                <ul>
                                  <li><a class="white-text" href="http://iittp.ac.in">IIT Tirupati</a></li>
                                  <li><a class="white-text" href="#">BSW Constitution</a></li>
                                  <li><a class="white-text" href="#!"></a></li>
                                  <li><a class="white-text" href="#">Feedback</a></li>
                                </ul>
                              </div>
                              <div class="col l3 s12">
                                <h5 class="white-text">Connect</h5>
                                <table id="layouttable">
                                  <tr>
                                   <td class="imagerow"><a href="https://github.com/AakashSYadav" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></td>
                                   <td class="imagerow"><a href="https://www.linkedin.com/in/aakash-yadav-4a2376140/" target="_blank"><i class="fab fa-linkedin-in" aria-hidden="true" ></i></a></td>
                                   <td class="imagerow"><a href="https://www.facebook.com/aakashyadav0" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"  ></i></a></td>
                                 </tr>
                               </table>
                             </div>
                           </div>
                         </div>
                         <div class="footer-copyright">
                          <div class="container">
                            Made by <a class="brown-text text-lighten-3" href="http://aakashsyadav.github.io" target="_blank">Aakash Yadav</a> and <a class="brown-text text-lighten-3" href = "https://github.com/chirag2706">Chirag Gupta</a>
                          </div>
                        </div>
                      </footer>


                      <!--  Scripts-->
                      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" text = "text/javascript"></script>
                      <script type="text/javascript">
                      (function($){
                          $(function(){
                        
                            $('.sidenav').sidenav();
                            $('.parallax').parallax();
                        
                          }); // end of document ready
                        })(jQuery); // end of jQuery name space

                        $( document ).ready(function(){
                          $(".dropdown-trigger").dropdown();  
                        });

// Or with jQuery

$(document).ready(function(){
  $('.collapsible').collapsible();
});
</script>
<script type = "text/javascript">
      

  // Or with jQuery

  $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton();
  });
  </script>

</body>
</html>