<% include ./partials/header2 %>
    <div class = "flexible">
    <div class="row">
    <form class="col s12" method = "post" action = "/register" id = "add">
      <div id = "border" class = "col s12">
          <h1 style = "text-align:center;">Register</h1>
        <% if (errorMessage.length>0){ %>
        <div class="alert alert-danger" role="alert"style = "text-align:center;margin-top:20px;margin-bottom:15px;">
          <%= errorMessage %>
          <div style = "float:right;padding-right:15px;"><a href = "#"><i class="fas fa-times" style = "font-size: 30px;color:black;"></i></a></div> 
        </div>
        <% } %>
            <div class="row" style = "margin-top:20px;">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input  id="full_name" type="text" class="validate" name = "username" title = "Please enter your name" required>
          <label for="full_name">userName</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="phone" type="text" class="validate" name = "phone" title = "Please enter your phone number" minlength = "10" required>
          <label for="phone">mobile-no</label>
          <span class="helper-text" data-error="wrong" data-success="right">10 digitNumber only</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select  name = "profession" required>
            <!-- <option value="" disabled selected id  = "a"></option> -->
            <option value="Teacher" >Teacher</option>
            <option value="Student" >Student</option>
          </select>
        <label>Profession</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <select name = "batch" required>
            <!-- <option value="" disabled selected id  = "a"></option> -->
            <option value="2015-2016 Batch" >2015-2016 Batch</option>
            <option value="2016-2017 Batch" >2016-2017 Batch</option>
            <option value="2017-2018 Batch" >2017-2018 Batch</option>
            <option value="2018-2019 Batch" >2018-2019 Batch</option>
          </select>
    <label>Batch</label>
        </div>
      </div>
       <div class="row">
        <div class="input-field col s12">
          <select name = "branch" required>
            <!-- <option value="" disabled selected id = "a"></option> -->
            <option value="Computer Science and engineering">Computer Science and engineering</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Electrical Engineering">Electrical Engineering</option>
            <option value="Mechanical Engineering">Mechanical Engineering</option>
            <option value="Civil Engineering">Civil Engineering</option>
          </select>
    <label>Branch</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l12">
          <i class="material-icons prefix">email</i>
          <input id="email" type="email" class="validate" name = "email" title = "enter your official email id" required>
          <label for="email"> Email</label>
          <span class="helper-text" data-error="wrong" data-success="right">Official Id Only</span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 l12">
          <i class="material-icons prefix">lock</i>
          <input id="password" type="password" class="validate" name = "password" title = "Atleast password should be of 9 characters" minlength = "9" required>
          <label for="password">Create Password</label>
          <span class="helper-text" data-error="wrong" data-success="right">Atleast 9 characters</span>
        </div>
      </div>
    <p>
      <label>
        <input type="checkbox" class="filled-in" name  = "check" required/>
        <span>I accept the <a href = "#">terms and conditions</a></span>
      </label>
    </p>
    <button class="btn waves-effect waves-light" type="submit" name="action" onclick = "this.innerHTML = 'Registering...'">Register
    <i class="material-icons right">send</i>
    </button>
    
      </div>
      
    </form>
  </div>
</div>
<% include partials/footer %>
