<% include ./partials/header2 %>
<h4 style="padding-left: 120px">General</h2>
<div style="padding-left: 120px; padding-right: 120px;  ">
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Where do I find the books for coursework?</div>
      <div class="collapsible-body"><span>Most of the times library will come to your rescue. But at times you may not find one for you due to limited number of copies, softcopies are quite handy in such times. Depending on the usage you may consider buying one.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    
  </ul>
        </div>

        <h4 style="padding-left: 120px">Academics</h2>
<div style="padding-left: 120px; padding-right: 120px;  ">
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Where do I find the books for coursework?</div>
      <div class="collapsible-body"><span>Most of the times library will come to your rescue. But at times you may not find one for you due to limited number of copies, softcopies are quite handy in such times. Depending on the usage you may consider buying one.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    
  </ul>
  </div>

  <h4 style="padding-left: 120px">Hostel and Accomodation</h2>
<div style="padding-left: 120px; padding-right: 120px;  ">
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Where do I find the books for coursework?</div>
      <div class="collapsible-body"><span>Most of the times library will come to your rescue. But at times you may not find one for you due to limited number of copies, softcopies are quite handy in such times. Depending on the usage you may consider buying one.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    
  </ul>
        </div>

        <h4 style="padding-left: 120px">Others</h2>
<div style="padding-left: 120px; padding-right: 120px; ">
<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>Where do I find the books for coursework?</div>
      <div class="collapsible-body"><span>Most of the times library will come to your rescue. But at times you may not find one for you due to limited number of copies, softcopies are quite handy in such times. Depending on the usage you may consider buying one.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">add</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    
  </ul>
    <h6>Didn't find the question you were looking for ? Write to use at <a href="mailto:help@bsw.iittp.ac.in" target="_blank">help@bsw.iittp.ac.in</a></h6>

        </div>
 
<% include ./partials/footer.ejs %>